$header-color: #ff6060;

.nav {
  display: flex;
  max-width: 83%;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;




  & .links {
    display: flex;
    gap: 40px;
    list-style: none;

    & a {
      text-decoration: none;
      color: $header-color;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;

      &:hover {
        border-bottom: 1px solid $header-color;
      }
    }
  }
  
}

@media (max-width:768px){
  .nav{
    justify-content: space-between;
    max-width: 100%;
  
    & .links{
      gap:40px;
      & a {
        font-size:17px;
      }
    }
  }
}